article{
	width: 200px;
	height:auto;
	text-align: justify;
	font-size: 0.8rem;

}

h3{
	margin:0px;
	padding: 0px;
	font: 400 1.5em 'lato';
	color:#535e56;
}

h4{
	text-align: center;
}
section{
	background: #f2f5fa;
}
#box {
	margin:10px 0 0 0;
	box-sizing:border-box;
	width: 200px;
	height: 300px;
	padding: 10px 15px;
	border:1px solid grey;
	border-radius: 3px;
	border-top:5px solid  #424b5e;
	background: white;
	overflow: hidden;
	word-wrap: break-word;
}

