#ramkaObrazek {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
  margin:50px;
  height: 100vh;
  width:auto;
  background-image: url("https://static.polityka.pl/_resource/res/path/0a/89/0a89ee8b-852c-4c15-8327-ae3972865627_830x830");
  background-repeat: no-repeat;
  background-position: center; 
}

#podpisObrazka{
    z-index: 1;
    max-width: 400px;
    background: linear-gradient(to right, rgba(52, 152, 207,.5),  rgba(52, 152, 207,.5));
  	font: 600 1.5em 'lato';
  	color: rgba(245, 240, 240,.5);
  	text-align: center;
	  text-transform: uppercase;
	  letter-spacing: .5em;
}

